<template name="layout">
  <div class="container" style="padding-top: 20px;">
    <div class="col-sm-12">
      <div style="display: inline-block; vertical-align: middle; line-height: 20px; border: 1px solid rgb(204, 204, 204); border-radius: 5px; padding: 6px 12px;">
          {{>loginButtons}}
      </div>
      <button class="btn btn-default home">Home</button>

      {{#if logged_in}}
        <button class="btn btn-default mycars">My cars</button>
      {{/if}}
    </div>
  </div>
  <div class="container">
        {{>Template.dynamic template=content}}
    </div>
</template>