<template name="bookCar">

    <div class="container" style="padding-top: 20px;">
      <h1 style="text-align:center">Book a car</h1>
      <div class="row">
        <div class="col-sm-6">
          {{#with car}}
          <div>
            <ul class='list-group'>
              <li class='list-group-item'>  name: {{car.name}}</li>
              <li class='list-group-item'> type: {{car.type}}</li>
              <li class='list-group-item'> fuel: {{car.fuel}}</li>
              <li class='list-group-item'> lat: {{car.location.coordinates.[0]}}</li>
              <li class='list-group-item'> lng: {{car.location.coordinates.[1]}}</li>
              <li class='list-group-item'> price: {{car.price}}</li>
            </ul>     
          </div>
          {{/with}}

          <div>Book until:</div>
          <div class="input-group datetimepicker">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input class="set-due-date form-control" type="text"/>
          </div>
          <button style="margin-top:10px" id="book-car-button" class="btn btn-success book">Book!</button>

          
        </div>
      </div>
    </div>
  
  </template>
  