<template name="carCreate">

  <div class="container" style="padding-top: 20px;">
    <h1 style="text-align:center">Create new car</h1>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <form id="insert">

            <div class="form-group">
                <lable>Address:</lable>
                <input type="text" class="form-control" id="autocomplete" >
                <div class="invalid-feedback"></div>
    
              </div>
          <!-- <div class="form-group">
            <lable>Latitude:</lable> -->
            <input type="hidden" class="form-control" id="lat" >
            <!-- <div class="invalid-feedback"></div> -->

          <!-- </div> -->

          <!-- <div class="form-group"> -->
              <!-- <lable>Longitude:</lable> -->
              <input type="hidden" class="form-control" id="lng">
              <!-- <div class="invalid-feedback"></div> -->
          <!-- </div> -->

          <div class="form-group">
            <lable>Name:</lable>
            <input type="text" class="form-control" id="name">
            <div class="invalid-feedback"></div>

          </div>

          <div class="form-group">
            <lable>Type:</lable>
            <input id="type" class="form-control" type="text">
            <div class="invalid-feedback"></div>

          </div>

          <div class="form-group">
            <lable>Fuel (%):</lable>
            <input id="fuel" class="form-control" type="number" min=0 max=100>
            <div class="invalid-feedback"></div>

          </div>

          <div class="form-group">
            <lable>Price ($):</lable>
            <input id="price" class="form-control" type="number" min=0>
            <div class="invalid-feedback"></div>

          </div>


          <div class="form-group">
            <button id="submit" class="form-control" type="submit">Submit</button>  
          </div>
  

        </form>
      </div>
    </div>
  </div>

</template>
