<template name="carList">

    <div class="container" style="padding-top: 20px;">
      <h1 style="text-align:center">Your cars</h1>
      <div class="row">
        <div class="col-sm-6">
          <button style="margin-bottom: 10px" class="btn btn-success create">Create Car</button>
          {{#each car in cars}}
          <div>
            <ul class="list-group">
              <li class="list-group-item"> name: {{car.name}}</li>
              <li class="list-group-item"> type: {{car.type}}</li>
              <li class="list-group-item"> fuel: {{car.fuel}}</li>
              <li class="list-group-item"> lat: {{car.location.coordinates.[0]}}</li>
              <li class="list-group-item"> lng: {{car.location.coordinates.[1]}}</li>
              <li class="list-group-item"> price: {{car.price}}</li>
              <li  class="list-group-item">
                <h5>Bookings</h5>
                {{#each booking in bookings car._id}}
                  <ul class="list-group">
                    {{#with user booking.user_id}}
                      <li class="list-group-item"> email: {{this.emails.[0].address}} </li>
                    {{/with}}
    
                    <li class="list-group-item"> start: {{date booking.created_at}} </li>
    
                    {{#if booking.cancellled_at}}
                      <li class="list-group-item"> end:   {{date booking.expires_at}} </li>
                    {{/if}}
                    {{#unless booking.cancellled_at}}
                      <li class="list-group-item"> end:   {{date booking.cancelled_at}} </li>
                    {{/unless}}
    
                  </ul>
                {{/each}}
              </li>

            </ul>
              
          </div>
          
          {{/each}}
        </div>
      </div>
    </div>
  
  </template>
  