<template name="currentBooking">

  <div class="container" style="padding-top: 20px;">
    <h1 style="text-align:center">Current booking:</h1>
    <div class="row">
      <div class="col-sm-6">
        <h5>Car details</h5>
        {{#with car}}
        <div>
          <ul class="list-group">
            <li class="list-group-item"> name: {{this.name}}</li>
            <li class="list-group-item"> type: {{this.type}}</li>
            <li class="list-group-item"> fuel: {{this.fuel}}</li>
            <li class="list-group-item"> lat: {{this.location.coordinates.[0]}}</li>
            <li class="list-group-item"> lng: {{this.location.coordinates.[1]}}</li>
            <li class="list-group-item"> price: {{this.price}}</li>
          </ul>     
        </div>
        {{/with}}

        
      </div>
      <div class="col-sm-6">
          <h5>Booking details</h5>
          {{#with booking}}
          <div>
            <ul class="list-group">
              <li class="list-group-item"> start: {{date this.created_at}}</li>
              <li class="list-group-item"> expires: {{date this.expires_at}}</li>
            </ul>     
          </div>
          {{/with}}
          <div class="form-group">
            <label>New car location:</label>
            <input class="form-control" type="text" id="autocomplete"/>

          </div>
          <button id="book-car-button" class="btn btn-danger stop">End booking!</button>
  
          
        </div>
    </div>
  </div>
  
  
</template>
  