<template name="map">

  <div class="container" style="padding-top: 20px;">
    <div class="row">
      <div class="col-sm-6">
        <form id="search">

          <div class="form-group">
            <lable>Search address:</lable>
            <input type="text" class="form-control" id="autocomplete" placeholder="Address">
          </div>

          <div class="form-group">
              <lable>Distance from address (km):</lable>
              <input id="distance" disabled class="form-control" type="number" value="10" min=0 >
            </div>

          <div class="form-group">
            <lable>Name:</lable>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <lable>Type:</lable>
            <input id="type" class="form-control" type="text">
          </div>

          <div class="form-group">
            <lable>Min Fuel (%):</lable>
            <input id="fuel" class="form-control" type="number" min=0 max=100>
          </div>
    

          <div class="form-group">
            <lable>Max price ($):</lable>
            <input id="price" class="form-control" type="number" min=0>
          </div>
  

        </form>
      </div>
      <div class="col-sm-6" style="min-height: 500px; height: 500px">
          {{> googleMap name="exampleMap" options=mapOptions}}
      </div>
    </div>
  </div>

</template>
